<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="ru.hipmon.catana.backend" status="DEBUG">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%date{YYYY-MM-dd HH:mm:ss±hh}}{yellow} [%style{%thread}{red}] [%highlight{%-4level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue}] %style{%logger{36}}{cyan}: %message%n%throwable"
                    disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="INFO" additivity="false" includeLocation="true">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
